

.car-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .space {
    height: 10px;
    width: 1px;
  }
  .left {
    width: 35%;
    float: left;
  }
  .right {
    width: 50%;
    float: right;
  }
  .carName {
    padding: 3px;
    margin-left: 10%;
  }
  .property {
    text-align: right;
    padding: 4px;
    margin-bottom: 2px;
  }
  .value {
    text-align: left;
    width: 100%;
    padding: 4px;
    color: black;
    margin-bottom: 2px;
  }
  .tagsvalue {
    text-align: left;
    width: 88%;
    padding: 3px;
    color: black;
  }
  .description {
    margin-left: 4%;
    min-height: 50px;
    border: 1px solid gray;
    width: 59%;
  }
  .plateproperty {
    text-align: right;
    padding: 4px;
    margin-bottom: 2px;
  }
  .descproperty {
    text-align: right;
    padding: 4px;
    margin-top: 25px;
  }
  .platevalue {
    text-align: left;
    width: 100%;
    padding: 4px;
    color: black;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  
  .customInputButton {
    cursor: pointer;
    border: 2px solid #1a202c;
    padding: 3px;
    min-width: 64px;
    color: black;
    background: #ffffff;
    font-weight: bold;
    box-shadow: 5px 2px 2px black;
    transition: all 0.1s ease-in;
    margin-top: 20%;
  }
  .customInputButton:hover:enabled {
    background: black;
    color: #ffffff;
  }
  
  .image {
      border-radius: 10px;
    width: 320px;
    height:260px;
    margin: 2px 2px 40px 2px;
    display:fill;
    align-self: center;
  }
  .image-box {
    margin-bottom: 10%;
    text-align: left;
    padding: 1px;
  }
  .tags {
    text-align: left;
    padding: 1px;
  }
  
  .customButton {
    cursor: pointer;
    border: 2px solid #1a202c;
    margin: 1%;
    padding: 3px;
    min-width: 64px;
    color: black;
    background: #ffffff;
    font-weight: bold;
    box-shadow: 5px 2px 2px black;
    transition: all 0.1s ease-in;
  }
  .customButton:hover:enabled {
    background: black;
    color: #ffffff;
  }
  
  .goBack {
    position: fixed;
    bottom: 0;
    padding: 3px;
  }
  
  .errorMessage {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .loadingContainer {
    display: inline-block;
    margin-left: 15px;
    vertical-align: bottom;
  }
  .smallLoading {
    width: 20px;
    height: 20px;
    background-color: #333;
    margin: 0px;
    display: inline-flex;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
  }
  
  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  
  .cal-add-close-icon {
    content: "x";
    cursor: pointer;
    position: fixed;
    margin-top: 4%;
    right: calc(33% - 30px);
    top: calc(100vh - 82vh - 50px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  
  .cal-add {
    vertical-align: middle;
    width: 95%;
    height: 100%;
    align-self: center;
  }
  
  .cal-add-save-icon {
    cursor: pointer;
    margin-top: 2%;
    background: #ededed;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    float: left;
  }
  .cal-add-close-icon:hover {
    background: black;
    color: white;
  }
  
  .popup-car-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .cal-add-box {
    position: relative;
    vertical-align: middle;
    width: 35%;
    margin: 0 auto;
    height: 50%;
    max-height: 70vh;
    margin-top: 0%;
    margin-bottom: 6%;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    padding-right: 0px;
    padding-bottom: 40px;
    border: 1px outset #999;
    box-shadow: 10px 8px 8px #999;
  }
  
  .car-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 70%;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px outset #999;
    box-shadow: 10px 8px 8px #999;
  }
  