.space {
  height: 10px;
  width: 1px;
}

.image {
  border-radius: 10px;
  height: 300px;
  width:inherit;
  align-self: center;
}

.imageContainer {
  justify-content: center;
  align-self: center;
  width: inherit;
  display: flex;

}

.imageInputLabel {
  margin-top: 400px;
  margin-left: 34%;
  margin-right: 33%;
  font-size: 20px;
}

.customButton {
  cursor: pointer;
  border: 2px solid #1a202c;
  margin: 1%;
  padding: 3px;
  min-width: 64px;
  color: black;
  background: #ffffff;
  font-weight: bold;
  box-shadow: 5px 2px 2px black;
  transition: all 0.1s ease-in;
}
